@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    color: white;
}

body {
    background-image: url("../media/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 80%;
    margin: 0 auto;
}

#banner {
    margin-top: 30px;
    margin-bottom: 70px;
}

#logo {
    width: 150px;
}

#title {
    margin-bottom: 30px;
}

.spantext {font-weight: 800;}
    

#title h1 {
    font-size: 400%;
    font-weight: 400;
    line-height: 80%;
}

#instructions {
    margin-bottom: 50px;
}

#instructions h2 {
    color: #C2128D;
    margin-bottom: 0.3em;
}

#list {
    margin-bottom: 70px;
}

#list ul {
    margin-bottom: 70px;
    padding-inline-start: 20px;
}

#list ul li {
    line-height: 1.4em;
}

#submit_container {
    width: 100%;
}

#submit_container div {
    display: inline-block;
}

#check {
    width: 60%;
}

#check label, #check input {
    vertical-align: middle;
}

#check input {
    width: 20px;
    height: 20px;
}

  #myCheckbox {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid white;
    margin: 0.7em;
    appearance: none;
    cursor: pointer;
}  

#myCheckbox:checked::before {
    content: "\2713";
    font-size: 18px;
    color: white;
    text-align: center;
}

#submit {
    width: 39%;
    text-align: center;
}

#next-btn {
    background-color: #00FFFF;
    color: #0B1E46;
    padding: 0.5em 2em 0.5em 2em;
    font-size: 1.5em;
    font-weight: 700;
    box-shadow: 0px 0px 20px 10px #00ffff8f;
    cursor: pointer;
}

#next-btn[disabled] {
    cursor: not-allowed;
    background-color: rgb(219, 217, 217);
    box-shadow: 0px 0px 0px 0px #00ffff8f;
}

#questionCounter span {
    color: #C2128D;
}

#title1 {
    text-align: center;
    margin-bottom: 30px;

}

#title1 h1 {
    font-size: 400%;
    font-weight: 800;
    line-height: 1.4em;
}

#title1 p {
    font-size: 150%;
    font-weight: 300;
}

#instructions1 {
    text-align: center;

}

#stelline {
    text-align: center;
    margin-bottom: 60px;
}

.material-symbols-outlined {
    font-size: 50px !important;
    font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' 0,
        'opsz' 24
}

#instructions1 p {
    font-size: 150%;
    font-weight: 300;
    margin-bottom: 30px;
}

#feedback {
    margin-bottom: 60px;
}

#feedback input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #C2128D;
    width: 60%;
}

#myText:focus {
    outline: none;
}

.star {
    cursor: pointer;
}
